@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-project-info {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(166, 207, 229), rgb(188, 165, 165));
}

.project-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    margin-bottom: 60px;
}

.comment-contain {
    width: auto; 
    max-width: 400px; 
    white-space: normal; 
    word-wrap: break-word; 
    border: 4px dotted green;
    padding: 5px;
}


.comment{
    color: rgb(43, 53, 53);
}

.stars{
    margin-bottom: 60px;
    color: greenyellow;
    scale: 2;
}

.href{
    margin-top: 30px;
    text-decoration: none;
    color: rgb(46, 35, 35);
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.list-img{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.img{
    margin-right: 10px;
    border-radius: 10%;
}

.delete-btn{
    margin-top: 30px;
    background-color: rgb(208, 73, 73);
    color: aqua;
    width: 100px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: red
}

.confirm-delete-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 20px;
}

.confirm-input{
    margin-top: 10px;
    opacity: 0.6;
    border-radius: 5px;
}

.confirm-delete-btn{
    margin-top: 10px;
    background-color: red;
    color: aqua;
    border-radius: 5px;
    cursor: pointer;
}

.not-confirm{
    font-size: 85%;
    color: red;
}