*{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(166, 207, 229), rgb(188, 165, 165));
  height: 100vh;
}